@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.img
{
    /* border: 2px solid green; */
    /* border-radius: 2px; */
    cursor: pointer;
}
.text
{
    color: red;
}
.ho:hover{
    color: red;
    transform: scale(1.08);
}
@media only screen and (max-width:772px)
{
.crosuel
{
    margin-top: 105px;
}
}
.footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 380px;
    /* border: 2px solid green; */
    margin-top: 20px;
    justify-content: space-around;
    align-items: flex-start;
}
@media only screen and (max-width :550px)
{
    .footer
    {
        height: 800px;
    }
}
@media only screen and (max-width :220px)
{
    .footer
    {
        height: 1000px;
    }
}
.contact-info
{
    margin-top: 54px;
   
    color: white;
}
.email
{
    margin-top: 54px;
    color: white;
    float: right;
}
.v:active{
    background-color: green;
}
.v{
 background-color: red;
}
.v:hover{
    transform: scale(1.1);
}
.follow
{
    margin-top: 30px;
}
.c{
 cursor: pointer;
}
.footer1
{
    margin-top: 0;
    height: 80px;
    width: 100%;
    border: 0.01px solid  black;
    background-color: black;
}
@media only screen and (max-width:450)
{
    .footer1{
        height: 150px;
    }
}
.cont
{
    display: flex;
    height: 300px;
    width: 100%;
    background-image: url("images/Capture.PNG") ;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
   
}
#time
{
    color: yellow;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}
.navbar-brand img
{
    animation: moving 3s ease-in-out 0s infinite alternate;
}
@keyframes moving {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}
  }
  .Fran
  {
      /* border: 2px solid yellow; */
      margin-top: 105px;
      height: 675px;
      width: 100%;
  }
   @media (max-width:250px)
{
    .Fran, .scoopsBody, .footer
    {
        margin-top: 200px;

    }
}
@media (max-width:940px)
{
  .Fran, .scoopsBody, .footer{
        height: 800px;
    }
}
@media (max-width:800px)
{
    .Fran, .scoopsBody, .footer{
        height: 900px;
    }
}
@media (max-width:600px)
{
    .Fran, .scoopsBody, .footer{
        height: 1050px;
    }
}
@media (max-width:490px)
{
    .Fran, .scoopsBody, .footer{
        height: 1200px;
    }
}
@media (max-width:440px)
{
    .Fran, .scoopsBody, .footer{
        height: 1500px;
    }
}
@media (max-width:360px)
{
    .Fran, .scoopsBody, .footer{
        height: 2000px;
    }
}
@media (max-width:200px)
{
    .Fran, .scoopsBody, .footer{
        height: 4500px;
    }
}
@media (max-width:190px)
{
    .Fran, .scoopsBody, .footer{
        height: 6000px;
    }
}
@media (max-width:270px)
{
    .Fran, .scoopsBody, .footer{
        height: 3500px;
    }
}



/* CSS FOR SCOOPS */

.scoopsBody{
  margin-top: 110px;
}


.mt-50 {
    margin-top: 110px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
